<div class="main">
  <div class="left" style="background-color: {{ character && character.primaryColor }}">
    <img src="assets/logo.png" width="100" alt="logo" class="logo" />
    <h2 class="team-no">Team 0{{character && character.teamNumber}}</h2>
    <h2 class="jp-kanji">
      {{ character && character.lastNameKanji }}<br />{{
      character && character.firstNameKanji
      }}
    </h2>
  </div>
  <div class="right">
    <div class="hamburger-menu"><span></span><span></span><span></span></div>
    <p class="character-description">
      {{ character && character.introduction }}
      <!-- Naruto Uzumaki is a titular protagonist of the series . He waws the first -->
      <!-- character created by Kishimoto during the conception of the series and was -->
      <!-- designed with many traits from other shonen characters. -->
    </p>
    <div class="next-nav" (click)="nextCharacter()">
      <p class="next">NEXT</p>
      <p class="name">{{character && character.next}}</p>
    </div>
  </div>
</div>
<div class="title-container">
  <div class="title" [ngStyle]="{
      'background-image': 'linear-gradient(to right, #fff 0% 50%, ' + (character ? character.primaryColor : '#fff') + ' 50% 100%)'
       }">
    <h2>{{ character && character.lastName }}</h2>
    <h1>{{ character && character.firstName }}</h1>
  </div>
  <div class="title-outline">
    <h2 class="v-none">UZUMAKI</h2>
    <h1>
      <span class="v-none"> {{ character && character.splits[0] }} </span>{{ character && character.splits[1] }}
      <span class="v-none">{{ character && character.splits[2] }}</span>
    </h1>
  </div>
  <img src="{{ character && character.imageUri }}" alt="Naruto Uzumaki" class="character-img" />
</div>
