.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.v-none {
  opacity: 0;
}
.left {
  background-color: #8b3125;
  position: relative;
}

.logo {
  margin: 25px 50px;
}

.right {
  background-color: #ffffff;
  position: relative;
}

.hamburger-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 20px;
  //   background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hamburger-menu span {
  height: 3px;
  border-radius: 20px;
  background-color: black;
}
.hamburger-menu span:nth-child(1) {
  width: 15px;
}
.hamburger-menu span:nth-child(2) {
  width: 25px;
}
.hamburger-menu span:nth-child(3) {
  width: 35px;
}

// TEXT

.title-container {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  color: white;
}
.title {
  background: linear-gradient(to right, #fff 0 50%, #8b3125 50% 100%);
  background-clip: text;
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: transparent;
}
h2 {
  font-size: 2.5rem;
}
h1 {
  font-size: 8.5rem;
}

.title-outline {
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  z-index: 2;
}

.character-img {
  position: absolute;
  width: 37vw;
  display: inline-block;
  height: auto;
  top: 5%;
  left: 50%;
  transform: translateX(-48%);
}

.team-no {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  transform-origin: top left;
  transform: rotate(-90deg);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}

.team-no::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  background: white;
  left: -135%;
  top: 50%;
  transform: translateY(-50%);
}

.jp-kanji {
  color: white;
  font-size: 8rem;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
}

.character-description {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.next-nav {
  position: absolute;
  bottom: 10%;
  right: 15%;
}
.next-nav p {
  font-family: "Courier New", Courier, monospace;
  text-align: right;
}
.next-nav p.name {
  color: #8b3125;
  font-weight: bold;
}
