<div class="main">
  <div class="left">
    <img src="../assets/logo.png" width="100" alt="logo" class="logo" />
  </div>
  <div class="right">
    <div class="hamburger-menu"><span></span><span></span><span></span></div>
  </div>
</div>
<div class="title-container">
  <div class="title">
    <h2>UZUMAKI</h2>
    <h1>NARUTO</h1>
  </div>
  <div class="title-outline">
    <h2 class="v-none">UZUMAKI</h2>
    <h1><span class="v-none"> NA </span>RU <span class="v-none">TO</span></h1>
  </div>
  <img
    src="../assets/naruto-sage-mode.png"
    alt="Naruto Uzumaki"
    class="character-img"
  />
</div>
